body {
  background-color: white;
}

.form-div {
  margin: 150px auto 150px;
  padding: 25px 15px 10px 15px;
  background-color: rgb(82, 82, 128);
  border-radius: 5px;
  font-size: 1.1rem;
}

.input {
  color: black;
}

h2 {
  font-size: 30px;
  color: rgb(0, 0, 0);
}
label {
  color: black;
  font-size: 15px;
}
p {
  background-color: black;
  color: white;
}
a {
  color: red;
}
